{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <h3>Create a New Page</h3>
    <form action="{% url 'main:create' %}" method="POST">
        {% csrf_token %}
        <input class="title" type="text" name="t" placeholder="Title here">
        <span>{{ t_error }}</span>
        <div>
            <textarea name="c" placeholder="Enter content here"></textarea>
        </div> 
        <button> Save </button> <span>{{ c_error }}</span>
    </form>
{% endblock %}